* {
    box-sizing: border-box; /* hace que los paddings se queden en su caja! */
}

html, body {
    height: calc(100vh - 30px);
}

body {
    background-color: #FFA4A4;
    margin: 0;
    /* padding: 15px 0px 15px 0px; */ /* top right bottom left */
    padding: 15px 0px; /* top bottom -- right left */
}

.container { /* en container encontramos todos los elementos centrados */
    width: 55%; /* centrado en pantalla + margenes en los lados, imitando el wireframe propuesto de 1920px de width */
    height: 100%;
    margin: 0 auto;
    background-color: #C4C4C4;
}

/* HEADER */

.header {
    width: 100%;
    height: 12.27%; /* respecto al 100% del height del container */
    /* padding: 5px; */

    background: #4B4B4D;
}

.logo {
    background: #D2D3D5;
    width: 20%;
    height: 50%;
    float: left; /* mueve el contenido hacia la izquierda */
    margin: 30px;
}

.header .box {
    /* background: black; */
    width: 13.5%;
    height: 35%;
    float: right; /* mueve el contenido hacia la derecha */
    margin: 40px;
}

.box {
    display: inline-flex;
}

.sphere {
    width: 30%;
    height: 100%;
}

.sphere1 {
    background-color: #E6E7E9;
    margin-right: 10px; /* separación entre esferas 1 y 2 */
    border-radius: 50%;
}

.sphere2 {
    background-color: #E6E7E9;
    margin-right: 10px; /* separación entre esferas 2 y 3*/
    border-radius: 50%;
}

.sphere3 {
    background-color: #E6E7E9;
    border-radius: 50%;
}

/* NAV */

.menubox {
    display: inline-flex; /* organizar los elementos a lo largo del ancho del menubox */
    width: 100%;
    height: 4.90%; /* todas las alturas son calculadas manualmente a partir del wireframe propuesto */
    margin-top: 2.15%; /* separado del header */
}

.menu1 {
    background: #97989A;
    width: 20%; /* dividiendo el 100% del width de .menubox entre 5 */
    height: 100%;
    margin-right: 3px; /* separación entre menu1 y menu2 */
    margin-left: 3px; /* separación inicial margen izq. - menu 1*/
}

.menu2 {
    background: #97989A;
    width: 20%;
    height: 100%;
    margin-right: 3px; /* separación entre menu2 y menu3 */
}

.menu3 {
    background: #97989A;
    width: 20%;
    height: 100%;
    margin-right: 3px; /* separación entre menu3 y menu4 */
}

.menu4 {
    background: #97989A;
    width: 20%;
    height: 100%;
    margin-right: 3px; /* separación entre menu4 y menu5 */
}

.menu5 {
    background: #97989A;
    width: 20%;
    height: 100%;
    margin-right: 3px; /* separación final menu5 - margen derecho */
}

/* SECTION */

.cards {
    display: inline-flex;
    width: 100%;
    height: 19.63%;
    margin-top: 2.56%;
}

.cards1 {
    background: #858688;
    width: 33.3%; /* dividiendo el 100% del width de .cards entre 3 */
    height: 100%;
    margin-right: 10px; /* separación entre cards1 y cards2 */
}

.cards2 {
    background: #858688;
    width: 33.3%;
    height: 100%;
    margin-right: 10px; /* separación entre cards2 y cards3 */
}

.cards3 {
    background: #858688;
    width: 33.3%;
    height: 100%;
}

/* SECTION */

.articles {
    display: inline-flex;
    width: 100%;
    height: 46.32%;
    margin-top: 2.45%;
    background: #858688;
}

.article {
    background: #4B4B4D;
    width: 70%;
    height: 100%;
    margin-left: 21%; /* respetando los márgenes para centrar lo más posible el div .article */
    margin-right: 21%; /* respetando los márgenes para centrar lo más posible el div .article */
}

/* FOOTER */

.footer {
    background: #4B4B4D;
    width: 100%;
    height: 7.26%;
    margin-top: 2.45%;
}